/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/bin/*
/build/
/vendor/
/composer.phar
/config/*.xml
/config/*.ini
/config/*.yml
/data/cache/*
/data/logs/*
/data/indexes/*
/nbproject/
.DS_Store
/catalog.xml
/.vagrant*
/.idea
