/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/config/*.xml
/config/*.ini
/config/*.yml
/data/cache/*
/data/logs/*
/data/indexes/*
/nbproject/
/.DS_Store
/catalog.xml
/.vagrant