{% extends "ZymUserBundle::layout.html.twig" %}

{% block title %}{{ 'Recover Account' | trans({}, 'FOSUserBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'Recover Account' | trans({}, 'FOSUserBundle') }}
            <small>{{ 'Forgot your account information?' | trans({}, 'ZymUserBundle') }}</small>
        </h1>
    </div>

    <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
{% endblock %}
