.btn {
    border-radius: 3px;
}

.modal-header .modal-title {
    line-height: 1.428571429;
}

.modal-content {
    border-radius: 4px;
}

.pagination > li > a,
.pagination > li > span {
    border-width: 0;
    border-bottom-width: 3px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    border-color: #583ac8;
}

.pagination > .active.disabled > a,
.pagination > .active.disabled > span,
.pagination > .active.disabled > a:hover,
.pagination > .active.disabled > span:hover,
.pagination > .active.disabled > a:focus,
.pagination > .active.disabled > span:focus {
    border-color: #7a62d3;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a, .pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    border-color: #7a62d3;
}